body {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:black
  color(#FFFF)
}

.calculator{
  width: 240px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  background-color: #000000;
}

.display{
  font-size: 1.5rem;
  margin-bottom: 100px;
  padding: 10px;
  border: 1px solid #FFFF;
  border-radius: 3px;
  background-color: #000000;
  color: #FFFF;
  text-align: right;
}

.input{
  height: 1.5rem;
}

.result{
  height: 1.5rem;
  color: gray;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}